.Convertor {
    .selectCountry{
        .selectedFlagImage{
            max-width: 1em;
            display: inline-block;
            margin-right: 0.4em;
            vertical-align: middle;
            
        }
    }
}